/* 
* Add your fancy style here
*/


.single {
    background-color: rgb(231, 237, 245);
    /* Make background stylish for posts, Maybe like reading a old book page  */
}

.sidebar {
    background-color: rgb(255, 253, 251);
    border: 1px solid transparent;
    border-color: rgb(214, 223, 238);
    box-shadow: 2px 3px rgb(204, 220, 224);
    padding: 25px;
    border-radius: 10px;
    margin: 35px;

}

.myborder {
    background-color: rgb(255, 253, 251);
    border: 1px solid transparent;
    border-color: rgb(214, 223, 238);
    box-shadow: 2px 3px rgb(204, 220, 224);
}

.footer {
    background-color: rgb(255, 253, 251);
    border: 1px solid transparent;
    border-color: rgb(214, 223, 238);
    box-shadow: 2px 3px rgb(204, 220, 224);
    margin-left: 10px;
    margin-top: 30px;
    margin-right: 10px;
    margin-bottom: 8px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-width: auto;
    padding-top: 25px;
    padding-left: 40px;

}

.single-title {
    font-family: 'Walter Turncoat', cursive;
}

a {  
    color: rgb(149, 155, 211);
}

a:hover {
    color: rgb(182, 127, 155);
    text-decoration: none;
}


